In [1]:
from csgo.parser import DemoParser
from csgo.analytics import stats
import numpy
import pandas
import os

In [2]:
def getDemoPaths(directory):
    demoPaths = []
    for filename in os.listdir(directory):
        demoPaths.append(os.path.join(directory, filename))
    return demoPaths

In [3]:
def generateDemoParsers(paths):
    demo_parsers = []
    for x in paths:
        demoParser = DemoParser(demofile=x, demo_id = x.split('/')[-1].split('.')[0].split('_')[0], parse_rate=128)
        demo_parsers.append(demoParser)
    print("# Demo Parsers: " + str(len(demo_parsers)))
    return demo_parsers

In [97]:
def generateData(parsers):
    killData, roundData, damageData, frameData, playerFrames, bombEvents, grenadeData, flashData = [], [], [], [], [], [], [], []
    for x in parsers:
        x.parse()
        killData.append(x._parse_kills(return_type="df"))
        roundData.append(x._parse_rounds(return_type="df"))
        damageData.append(x._parse_damages(return_type="df"))
        frameData.append(x._parse_frames(return_type="df"))
        playerFrames.append(x._parse_player_frames(return_type="df"))
        bombEvents.append(x._parse_bomb_events(return_type="df"))
        grenadeData.append(x._parse_grenades(return_type="df"))
        flashData.append(x._parse_flashes(return_type="df"))
    return (killData, roundData, damageData, frameData, playerFrames, bombEvents, grenadeData, flashData)

In [5]:
def concat_data(aggregate_data):
    final_df = None
    for x in aggregate_data:
        final_df = pandas.concat([final_df, x], ignore_index=True)
    return final_df

In [6]:
def divideDataByMaps(data):
    dataByMap = {}
    for x in data.MapName.unique():
        dataByMap[x] = data[data['MapName'] == x]
    return dataByMap

In [7]:
s1mple_path = "/mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE"
zywoo_path = "/mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO"

In [95]:
zKillData, zRoundData, zDamageData, zFrameData, zPlayerFrames, zBombEvents, zGrenadeData, zFlashData = generateData(generateDemoParsers(getDemoPaths(zywoo_path)))
#bkillData, broundData, bdamageData, bframeData, bplayerFrames, bbombEvents, bgrenadeData, bflashData = generateData(generateDemoParsers(getDemoPaths(group_b_demo_paths)))

11:26:43 [INFO] Go version>=1.14.0
11:26:43 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/astralis-vs-vitality-m1-overpass_66235.dem
11:26:43 [INFO] Setting demo id to astralis-vs-vitality-m1-overpass
11:26:43 [INFO] Setting parse rate to 128
11:26:43 [INFO] Go version>=1.14.0
11:26:43 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/astralis-vs-vitality-m2-inferno_66235.dem
11:26:43 [INFO] Setting demo id to astralis-vs-vitality-m2-inferno
11:26:43 [INFO] Setting parse rate to 128
11:26:43 [INFO] Go version>=1.14.0
11:26:43 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/complexity-vs-vitality-m1-vertigo_66846.dem
11:26:43 [INFO] Setting demo id to complexity-vs-vitality-m1-vertigo
11:26:43 [INFO] Setting parse rate to 128
11:26:43 [INFO] Go version>=1.14.0
11:26:43 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/complexity-vs-vitality-m2-overpass_66846.dem
11:26:43 [INFO] Setting demo id to complexity-vs-vitality-m2-overpass
11:26:43 [INFO] Setting parse rate to 128
11:26:44 [INFO] Go version>=1.14.0
11:26:44 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/complexity-vs-vitality-m3-mirage_66846.dem
11:26:44 [INFO] Setting demo id to complexity-vs-vitality-m3-mirage
11:26:44 [INFO] Setting parse rate to 128
11:26:44 [INFO] Go version>=1.14.0
11:26:44 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/gambit-vs-vitality-m1-inferno_66890.dem
11:26:44 [INFO] Setting demo id to gambit-vs-vitality-m1-inferno
11:26:44 [INFO] Setting parse rate to 128
11:26:44 [INFO] Go version>=1.14.0
11:26:44 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/gambit-vs-vitality-m2-vertigo_66890.dem
11:26:44 [INFO] Setting demo id to gambit-vs-vitality-m2-vertigo
11:26:44 [INFO] Setting parse rate to 128
11:26:45 [INFO] Go version>=1.14.0
11:26:45 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/heroic-vs-vitality-m1-vertigo_66205.dem
11:26:45 [INFO] Setting demo id to heroic-vs-vitality-m1-vertigo
11:26:45 [INFO] Setting parse rate to 128
11:26:45 [INFO] Go version>=1.14.0
11:26:45 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/heroic-vs-vitality-m2-nuke_66205.dem
11:26:45 [INFO] Setting demo id to heroic-vs-vitality-m2-nuke
11:26:45 [INFO] Setting parse rate to 128
11:26:45 [INFO] Go version>=1.14.0
11:26:45 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/heroic-vs-vitality-m3-inferno_66205.dem
11:26:45 [INFO] Setting demo id to heroic-vs-vitality-m3-inferno
11:26:45 [INFO] Setting parse rate to 128
11:26:45 [INFO] Go version>=1.14.0
11:26:45 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/og-vs-vitality-m1-mirage_66972.dem
11:26:45 [INFO] Setting demo id to og-vs-vitality-m1-mirage
11:26:45 [INFO] Setting parse rate to 128
11:26:46 [INFO] Go version>=1.14.0
11:26:46 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/og-vs-vitality-m2-nuke_66972.dem
11:26:46 [INFO] Setting demo id to og-vs-vitality-m2-nuke
11:26:46 [INFO] Setting parse rate to 128
11:26:46 [INFO] Go version>=1.14.0
11:26:46 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-bad-news-bears-m1-inferno_66154.dem
11:26:46 [INFO] Setting demo id to vitality-vs-bad-news-bears-m1-inferno
11:26:46 [INFO] Setting parse rate to 128
11:26:46 [INFO] Go version>=1.14.0
11:26:46 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-bad-news-bears-m2-overpass_66154.dem
11:26:46 [INFO] Setting demo id to vitality-vs-bad-news-bears-m2-overpass
11:26:46 [INFO] Setting parse rate to 128
11:26:46 [INFO] Go version>=1.14.0
11:26:46 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-ence-m1-mirage_66145.dem
11:26:46 [INFO] Setting demo id to vitality-vs-ence-m1-mirage
11:26:46 [INFO] Setting parse rate to 128
11:26:47 [INFO] Go version>=1.14.0
11:26:47 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-ence-m2-overpass_66145.dem
11:26:47 [INFO] Setting demo id to vitality-vs-ence-m2-overpass
11:26:47 [INFO] Setting parse rate to 128
11:26:47 [INFO] Go version>=1.14.0
11:26:47 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m1-dust2_67036.dem
11:26:47 [INFO] Setting demo id to vitality-vs-natus-vincere-m1-dust2
11:26:47 [INFO] Setting parse rate to 128
11:26:47 [INFO] Go version>=1.14.0
11:26:47 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m2-inferno_67036.dem
11:26:47 [INFO] Setting demo id to vitality-vs-natus-vincere-m2-inferno
11:26:47 [INFO] Setting parse rate to 128
11:26:47 [INFO] Go version>=1.14.0
11:26:47 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m3-nuke_67036.dem
11:26:47 [INFO] Setting demo id to vitality-vs-natus-vincere-m3-nuke
11:26:47 [INFO] Setting parse rate to 128
11:26:48 [INFO] Go version>=1.14.0
11:26:48 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m4-overpass_67036.dem
11:26:48 [INFO] Setting demo id to vitality-vs-natus-vincere-m4-overpass
11:26:48 [INFO] Setting parse rate to 128
11:26:48 [INFO] Go version>=1.14.0
11:26:48 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m5-mirage_67036.dem
11:26:48 [INFO] Setting demo id to vitality-vs-natus-vincere-m5-mirage
11:26:48 [INFO] Setting parse rate to 128
11:26:48 [INFO] Go version>=1.14.0
11:26:48 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-spirit-m1-dust2_66262.dem
11:26:48 [INFO] Setting demo id to vitality-vs-spirit-m1-dust2
11:26:48 [INFO] Setting parse rate to 128
11:26:48 [INFO] Go version>=1.14.0
11:26:48 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-spirit-m2-mirage_66262.dem
11:26:48 [INFO] Setting demo id to vitality-vs-spirit-m2-mirage
11:26:48 [INFO] Setting parse rate to 128
11:26:49 [INFO] Go version>=1.14.0
11:26:49 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-spirit-m3-nuke_66262.dem
11:26:49 [INFO] Setting demo id to vitality-vs-spirit-m3-nuke
11:26:49 [INFO] Setting parse rate to 128
11:26:49 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:26:49 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/astralis-vs-vitality-m1-overpass_66235.dem

# Demo Parsers: 24

11:27:16 [INFO] Wrote demo parse output to astralis-vs-vitality-m1-overpass.json
11:27:16 [INFO] Reading in JSON from astralis-vs-vitality-m1-overpass.json
11:27:16 [INFO] JSON data loaded, available in the `json` attribute to parser
11:27:16 [INFO] Successfully parsed JSON output
11:27:16 [INFO] Successfully returned JSON output
11:27:16 [INFO] Parsed kills to Pandas DataFrame
11:27:16 [INFO] Parsed rounds to Pandas DataFrame
11:27:16 [INFO] Parsed damages to Pandas DataFrame
11:27:16 [INFO] Parsed frames to Pandas DataFrame
11:27:16 [INFO] Parsed player frames to Pandas DataFrame
11:27:16 [INFO] Parsed bomb_events to Pandas DataFrame
11:27:16 [INFO] Parsed grenades to Pandas DataFrame
11:27:16 [INFO] Parsed flashes to Pandas DataFrame
11:27:16 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:27:16 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/astralis-vs-vitality-m1-overpass_66235.dem
11:27:43 [INFO] Wrote demo parse output to astralis-vs-vitality-m1-overpass.json
11:27:43 [INFO] Reading in JSON from astralis-vs-vitality-m1-overpass.json
11:27:43 [INFO] JSON data loaded, available in the `json` attribute to parser
11:27:43 [INFO] Successfully parsed JSON output
11:27:43 [INFO] Successfully returned JSON output
11:27:43 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:27:43 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/astralis-vs-vitality-m2-inferno_66235.dem
11:27:58 [INFO] Wrote demo parse output to astralis-vs-vitality-m2-inferno.json
11:27:58 [INFO] Reading in JSON from astralis-vs-vitality-m2-inferno.json
11:27:58 [INFO] JSON data loaded, available in the `json` attribute to parser
11:27:58 [INFO] Successfully parsed JSON output
11:27:58 [INFO] Successfully returned JSON output
11:27:58 [INFO] Parsed kills to Pandas DataFrame
11:27:58 [INFO] Parsed rounds to Pandas DataFrame
11:27:58 [INFO] Parsed damages to Pandas DataFrame
11:27:58 [INFO] Parsed frames to Pandas DataFrame
11:27:58 [INFO] Parsed player frames to Pandas DataFrame
11:27:58 [INFO] Parsed bomb_events to Pandas DataFrame
11:27:58 [INFO] Parsed grenades to Pandas DataFrame
11:27:58 [INFO] Parsed flashes to Pandas DataFrame
11:27:58 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:27:58 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/astralis-vs-vitality-m2-inferno_66235.dem
11:28:13 [INFO] Wrote demo parse output to astralis-vs-vitality-m2-inferno.json
11:28:13 [INFO] Reading in JSON from astralis-vs-vitality-m2-inferno.json
11:28:13 [INFO] JSON data loaded, available in the `json` attribute to parser
11:28:13 [INFO] Successfully parsed JSON output
11:28:13 [INFO] Successfully returned JSON output
11:28:13 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:28:13 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/complexity-vs-vitality-m1-vertigo_66846.dem
11:28:25 [INFO] Wrote demo parse output to complexity-vs-vitality-m1-vertigo.json
11:28:25 [INFO] Reading in JSON from complexity-vs-vitality-m1-vertigo.json
11:28:26 [INFO] JSON data loaded, available in the `json` attribute to parser
11:28:26 [INFO] Successfully parsed JSON output
11:28:26 [INFO] Successfully returned JSON output
11:28:26 [INFO] Parsed kills to Pandas DataFrame
11:28:26 [INFO] Parsed rounds to Pandas DataFrame
11:28:26 [INFO] Parsed damages to Pandas DataFrame
11:28:26 [INFO] Parsed frames to Pandas DataFrame
11:28:26 [INFO] Parsed player frames to Pandas DataFrame
11:28:26 [INFO] Parsed bomb_events to Pandas DataFrame
11:28:26 [INFO] Parsed grenades to Pandas DataFrame
11:28:26 [INFO] Parsed flashes to Pandas DataFrame
11:28:26 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:28:26 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/complexity-vs-vitality-m1-vertigo_66846.dem
11:28:38 [INFO] Wrote demo parse output to complexity-vs-vitality-m1-vertigo.json
11:28:38 [INFO] Reading in JSON from complexity-vs-vitality-m1-vertigo.json
11:28:38 [INFO] JSON data loaded, available in the `json` attribute to parser
11:28:38 [INFO] Successfully parsed JSON output
11:28:38 [INFO] Successfully returned JSON output
11:28:38 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:28:38 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/complexity-vs-vitality-m2-overpass_66846.dem
11:29:04 [INFO] Wrote demo parse output to complexity-vs-vitality-m2-overpass.json
11:29:04 [INFO] Reading in JSON from complexity-vs-vitality-m2-overpass.json
11:29:04 [INFO] JSON data loaded, available in the `json` attribute to parser
11:29:04 [INFO] Successfully parsed JSON output
11:29:04 [INFO] Successfully returned JSON output
11:29:04 [INFO] Parsed kills to Pandas DataFrame
11:29:04 [INFO] Parsed rounds to Pandas DataFrame
11:29:04 [INFO] Parsed damages to Pandas DataFrame
11:29:04 [INFO] Parsed frames to Pandas DataFrame
11:29:04 [INFO] Parsed player frames to Pandas DataFrame
11:29:04 [INFO] Parsed bomb_events to Pandas DataFrame
11:29:04 [INFO] Parsed grenades to Pandas DataFrame
11:29:04 [INFO] Parsed flashes to Pandas DataFrame
11:29:04 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:29:04 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/complexity-vs-vitality-m2-overpass_66846.dem
11:29:30 [INFO] Wrote demo parse output to complexity-vs-vitality-m2-overpass.json
11:29:30 [INFO] Reading in JSON from complexity-vs-vitality-m2-overpass.json
11:29:30 [INFO] JSON data loaded, available in the `json` attribute to parser
11:29:30 [INFO] Successfully parsed JSON output
11:29:30 [INFO] Successfully returned JSON output
11:29:30 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:29:30 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/complexity-vs-vitality-m3-mirage_66846.dem
11:29:44 [INFO] Wrote demo parse output to complexity-vs-vitality-m3-mirage.json
11:29:44 [INFO] Reading in JSON from complexity-vs-vitality-m3-mirage.json
11:29:45 [INFO] JSON data loaded, available in the `json` attribute to parser
11:29:45 [INFO] Successfully parsed JSON output
11:29:45 [INFO] Successfully returned JSON output
11:29:45 [INFO] Parsed kills to Pandas DataFrame
11:29:45 [INFO] Parsed rounds to Pandas DataFrame
11:29:45 [INFO] Parsed damages to Pandas DataFrame
11:29:45 [INFO] Parsed frames to Pandas DataFrame
11:29:45 [INFO] Parsed player frames to Pandas DataFrame
11:29:45 [INFO] Parsed bomb_events to Pandas DataFrame
11:29:45 [INFO] Parsed grenades to Pandas DataFrame
11:29:45 [INFO] Parsed flashes to Pandas DataFrame
11:29:45 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:29:45 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/complexity-vs-vitality-m3-mirage_66846.dem
11:29:59 [INFO] Wrote demo parse output to complexity-vs-vitality-m3-mirage.json
11:29:59 [INFO] Reading in JSON from complexity-vs-vitality-m3-mirage.json
11:29:59 [INFO] JSON data loaded, available in the `json` attribute to parser
11:29:59 [INFO] Successfully parsed JSON output
11:29:59 [INFO] Successfully returned JSON output
11:29:59 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:29:59 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/gambit-vs-vitality-m1-inferno_66890.dem
11:30:16 [INFO] Wrote demo parse output to gambit-vs-vitality-m1-inferno.json
11:30:16 [INFO] Reading in JSON from gambit-vs-vitality-m1-inferno.json
11:30:16 [INFO] JSON data loaded, available in the `json` attribute to parser
11:30:16 [INFO] Successfully parsed JSON output
11:30:16 [INFO] Successfully returned JSON output
11:30:16 [INFO] Parsed kills to Pandas DataFrame
11:30:16 [INFO] Parsed rounds to Pandas DataFrame
11:30:16 [INFO] Parsed damages to Pandas DataFrame
11:30:16 [INFO] Parsed frames to Pandas DataFrame
11:30:16 [INFO] Parsed player frames to Pandas DataFrame
11:30:16 [INFO] Parsed bomb_events to Pandas DataFrame
11:30:16 [INFO] Parsed grenades to Pandas DataFrame
11:30:16 [INFO] Parsed flashes to Pandas DataFrame
11:30:16 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/

11:30:16 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/gambit-vs-vitality-m1-inferno_66890.dem
11:30:33 [INFO] Wrote demo parse output to gambit-vs-vitality-m1-inferno.json
11:30:33 [INFO] Reading in JSON from gambit-vs-vitality-m1-inferno.json
11:30:33 [INFO] JSON data loaded, available in the `json` attribute to parser
11:30:33 [INFO] Successfully parsed JSON output
11:30:33 [INFO] Successfully returned JSON output
11:30:33 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:30:33 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/gambit-vs-vitality-m2-vertigo_66890.dem
11:30:54 [INFO] Wrote demo parse output to gambit-vs-vitality-m2-vertigo.json
11:30:54 [INFO] Reading in JSON from gambit-vs-vitality-m2-vertigo.json
11:30:54 [INFO] JSON data loaded, available in the `json` attribute to parser
11:30:54 [INFO] Successfully parsed JSON output
11:30:54 [INFO] Successfully returned JSON output
11:30:54 [INFO] Parsed kills to Pandas DataFrame
11:30:54 [INFO] Parsed rounds to Pandas DataFrame
11:30:54 [INFO] Parsed damages to Pandas DataFrame
11:30:54 [INFO] Parsed frames to Pandas DataFrame
11:30:55 [INFO] Parsed player frames to Pandas DataFrame
11:30:55 [INFO] Parsed bomb_events to Pandas DataFrame
11:30:55 [INFO] Parsed grenades to Pandas DataFrame
11:30:55 [INFO] Parsed flashes to Pandas DataFrame
11:30:55 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:30:55 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/gambit-vs-vitality-m2-vertigo_66890.dem
11:31:13 [INFO] Wrote demo parse output to gambit-vs-vitality-m2-vertigo.json
11:31:13 [INFO] Reading in JSON from gambit-vs-vitality-m2-vertigo.json
11:31:14 [INFO] JSON data loaded, available in the `json` attribute to parser
11:31:14 [INFO] Successfully parsed JSON output
11:31:14 [INFO] Successfully returned JSON output
11:31:14 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:31:14 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/heroic-vs-vitality-m1-vertigo_66205.dem
11:31:26 [INFO] Wrote demo parse output to heroic-vs-vitality-m1-vertigo.json
11:31:26 [INFO] Reading in JSON from heroic-vs-vitality-m1-vertigo.json
11:31:27 [INFO] JSON data loaded, available in the `json` attribute to parser
11:31:27 [INFO] Successfully parsed JSON output
11:31:27 [INFO] Successfully returned JSON output
11:31:27 [INFO] Parsed kills to Pandas DataFrame
11:31:27 [INFO] Parsed rounds to Pandas DataFrame
11:31:27 [INFO] Parsed damages to Pandas DataFrame
11:31:27 [INFO] Parsed frames to Pandas DataFrame
11:31:27 [INFO] Parsed player frames to Pandas DataFrame
11:31:27 [INFO] Parsed bomb_events to Pandas DataFrame
11:31:27 [INFO] Parsed grenades to Pandas DataFrame
11:31:27 [INFO] Parsed flashes to Pandas DataFrame
11:31:27 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:31:27 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/heroic-vs-vitality-m1-vertigo_66205.dem
11:31:39 [INFO] Wrote demo parse output to heroic-vs-vitality-m1-vertigo.json
11:31:39 [INFO] Reading in JSON from heroic-vs-vitality-m1-vertigo.json
11:31:39 [INFO] JSON data loaded, available in the `json` attribute to parser
11:31:39 [INFO] Successfully parsed JSON output
11:31:39 [INFO] Successfully returned JSON output
11:31:39 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:31:39 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/heroic-vs-vitality-m2-nuke_66205.dem
11:32:01 [INFO] Wrote demo parse output to heroic-vs-vitality-m2-nuke.json
11:32:01 [INFO] Reading in JSON from heroic-vs-vitality-m2-nuke.json
11:32:02 [INFO] JSON data loaded, available in the `json` attribute to parser
11:32:02 [INFO] Successfully parsed JSON output
11:32:02 [INFO] Successfully returned JSON output
11:32:02 [INFO] Parsed kills to Pandas DataFrame
11:32:02 [INFO] Parsed rounds to Pandas DataFrame
11:32:02 [INFO] Parsed damages to Pandas DataFrame
11:32:02 [INFO] Parsed frames to Pandas DataFrame
11:32:02 [INFO] Parsed player frames to Pandas DataFrame
11:32:02 [INFO] Parsed bomb_events to Pandas DataFrame
11:32:02 [INFO] Parsed grenades to Pandas DataFrame
11:32:02 [INFO] Parsed flashes to Pandas DataFrame
11:32:02 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:32:02 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/heroic-vs-vitality-m2-nuke_66205.dem
11:32:25 [INFO] Wrote demo parse output to heroic-vs-vitality-m2-nuke.json
11:32:25 [INFO] Reading in JSON from heroic-vs-vitality-m2-nuke.json
11:32:25 [INFO] JSON data loaded, available in the `json` attribute to parser
11:32:25 [INFO] Successfully parsed JSON output
11:32:25 [INFO] Successfully returned JSON output
11:32:25 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:32:25 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/heroic-vs-vitality-m3-inferno_66205.dem
11:32:43 [INFO] Wrote demo parse output to heroic-vs-vitality-m3-inferno.json
11:32:43 [INFO] Reading in JSON from heroic-vs-vitality-m3-inferno.json
11:32:43 [INFO] JSON data loaded, available in the `json` attribute to parser
11:32:43 [INFO] Successfully parsed JSON output
11:32:43 [INFO] Successfully returned JSON output
11:32:43 [INFO] Parsed kills to Pandas DataFrame
11:32:43 [INFO] Parsed rounds to Pandas DataFrame
11:32:43 [INFO] Parsed damages to Pandas DataFrame
11:32:44 [INFO] Parsed frames to Pandas DataFrame
11:32:44 [INFO] Parsed player frames to Pandas DataFrame
11:32:44 [INFO] Parsed bomb_events to Pandas DataFrame
11:32:44 [INFO] Parsed grenades to Pandas DataFrame
11:32:44 [INFO] Parsed flashes to Pandas DataFrame
11:32:44 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:32:44 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/heroic-vs-vitality-m3-inferno_66205.dem
11:33:02 [INFO] Wrote demo parse output to heroic-vs-vitality-m3-inferno.json
11:33:02 [INFO] Reading in JSON from heroic-vs-vitality-m3-inferno.json
11:33:02 [INFO] JSON data loaded, available in the `json` attribute to parser
11:33:02 [INFO] Successfully parsed JSON output
11:33:02 [INFO] Successfully returned JSON output
11:33:02 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:33:02 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/og-vs-vitality-m1-mirage_66972.dem
11:33:16 [INFO] Wrote demo parse output to og-vs-vitality-m1-mirage.json
11:33:16 [INFO] Reading in JSON from og-vs-vitality-m1-mirage.json
11:33:16 [INFO] JSON data loaded, available in the `json` attribute to parser
11:33:16 [INFO] Successfully parsed JSON output
11:33:16 [INFO] Successfully returned JSON output
11:33:16 [INFO] Parsed kills to Pandas DataFrame
11:33:16 [INFO] Parsed rounds to Pandas DataFrame
11:33:16 [INFO] Parsed damages to Pandas DataFrame
11:33:16 [INFO] Parsed frames to Pandas DataFrame
11:33:17 [INFO] Parsed player frames to Pandas DataFrame
11:33:17 [INFO] Parsed bomb_events to Pandas DataFrame
11:33:17 [INFO] Parsed grenades to Pandas DataFrame
11:33:17 [INFO] Parsed flashes to Pandas DataFrame
11:33:17 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:33:17 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/og-vs-vitality-m1-mirage_66972.dem
11:33:30 [INFO] Wrote demo parse output to og-vs-vitality-m1-mirage.json
11:33:30 [INFO] Reading in JSON from og-vs-vitality-m1-mirage.json
11:33:30 [INFO] JSON data loaded, available in the `json` attribute to parser
11:33:30 [INFO] Successfully parsed JSON output
11:33:30 [INFO] Successfully returned JSON output
11:33:30 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:33:30 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/og-vs-vitality-m2-nuke_66972.dem
11:33:46 [INFO] Wrote demo parse output to og-vs-vitality-m2-nuke.json
11:33:46 [INFO] Reading in JSON from og-vs-vitality-m2-nuke.json
11:33:47 [INFO] JSON data loaded, available in the `json` attribute to parser
11:33:47 [INFO] Successfully parsed JSON output
11:33:47 [INFO] Successfully returned JSON output

11:33:47 [INFO] Parsed kills to Pandas DataFrame
11:33:47 [INFO] Parsed rounds to Pandas DataFrame
11:33:47 [INFO] Parsed damages to Pandas DataFrame
11:33:47 [INFO] Parsed frames to Pandas DataFrame
11:33:47 [INFO] Parsed player frames to Pandas DataFrame
11:33:47 [INFO] Parsed bomb_events to Pandas DataFrame
11:33:47 [INFO] Parsed grenades to Pandas DataFrame
11:33:47 [INFO] Parsed flashes to Pandas DataFrame
11:33:47 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:33:47 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/og-vs-vitality-m2-nuke_66972.dem
11:34:03 [INFO] Wrote demo parse output to og-vs-vitality-m2-nuke.json
11:34:03 [INFO] Reading in JSON from og-vs-vitality-m2-nuke.json
11:34:03 [INFO] JSON data loaded, available in the `json` attribute to parser
11:34:03 [INFO] Successfully parsed JSON output
11:34:03 [INFO] Successfully returned JSON output
11:34:03 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:34:03 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-bad-news-bears-m1-inferno_66154.dem
11:34:18 [INFO] Wrote demo parse output to vitality-vs-bad-news-bears-m1-inferno.json
11:34:18 [INFO] Reading in JSON from vitality-vs-bad-news-bears-m1-inferno.json
11:34:18 [INFO] JSON data loaded, available in the `json` attribute to parser
11:34:18 [INFO] Successfully parsed JSON output
11:34:18 [INFO] Successfully returned JSON output
11:34:18 [INFO] Parsed kills to Pandas DataFrame
11:34:18 [INFO] Parsed rounds to Pandas DataFrame
11:34:18 [INFO] Parsed damages to Pandas DataFrame
11:34:18 [INFO] Parsed frames to Pandas DataFrame
11:34:19 [INFO] Parsed player frames to Pandas DataFrame
11:34:19 [INFO] Parsed bomb_events to Pandas DataFrame
11:34:19 [INFO] Parsed grenades to Pandas DataFrame
11:34:19 [INFO] Parsed flashes to Pandas DataFrame
11:34:19 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:34:19 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-bad-news-bears-m1-inferno_66154.dem
11:34:34 [INFO] Wrote demo parse output to vitality-vs-bad-news-bears-m1-inferno.json
11:34:34 [INFO] Reading in JSON from vitality-vs-bad-news-bears-m1-inferno.json
11:34:34 [INFO] JSON data loaded, available in the `json` attribute to parser
11:34:34 [INFO] Successfully parsed JSON output
11:34:34 [INFO] Successfully returned JSON output
11:34:34 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:34:34 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-bad-news-bears-m2-overpass_66154.dem
11:34:56 [INFO] Wrote demo parse output to vitality-vs-bad-news-bears-m2-overpass.json
11:34:56 [INFO] Reading in JSON from vitality-vs-bad-news-bears-m2-overpass.json
11:34:57 [INFO] JSON data loaded, available in the `json` attribute to parser
11:34:57 [INFO] Successfully parsed JSON output
11:34:57 [INFO] Successfully returned JSON output
11:34:57 [INFO] Parsed kills to Pandas DataFrame
11:34:57 [INFO] Parsed rounds to Pandas DataFrame
11:34:57 [INFO] Parsed damages to Pandas DataFrame
11:34:57 [INFO] Parsed frames to Pandas DataFrame
11:34:57 [INFO] Parsed player frames to Pandas DataFrame
11:34:57 [INFO] Parsed bomb_events to Pandas DataFrame
11:34:57 [INFO] Parsed grenades to Pandas DataFrame
11:34:58 [INFO] Parsed flashes to Pandas DataFrame
11:34:58 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:34:58 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-bad-news-bears-m2-overpass_66154.dem
11:35:20 [INFO] Wrote demo parse output to vitality-vs-bad-news-bears-m2-overpass.json
11:35:20 [INFO] Reading in JSON from vitality-vs-bad-news-bears-m2-overpass.json
11:35:20 [INFO] JSON data loaded, available in the `json` attribute to parser
11:35:20 [INFO] Successfully parsed JSON output
11:35:20 [INFO] Successfully returned JSON output
11:35:20 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:35:20 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-ence-m1-mirage_66145.dem
11:35:33 [INFO] Wrote demo parse output to vitality-vs-ence-m1-mirage.json
11:35:33 [INFO] Reading in JSON from vitality-vs-ence-m1-mirage.json
11:35:34 [INFO] JSON data loaded, available in the `json` attribute to parser
11:35:34 [INFO] Successfully parsed JSON output
11:35:34 [INFO] Successfully returned JSON output
11:35:34 [INFO] Parsed kills to Pandas DataFrame
11:35:34 [INFO] Parsed rounds to Pandas DataFrame
11:35:34 [INFO] Parsed damages to Pandas DataFrame
11:35:34 [INFO] Parsed frames to Pandas DataFrame
11:35:34 [INFO] Parsed player frames to Pandas DataFrame
11:35:34 [INFO] Parsed bomb_events to Pandas DataFrame
11:35:34 [INFO] Parsed grenades to Pandas DataFrame
11:35:34 [INFO] Parsed flashes to Pandas DataFrame
11:35:34 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:35:34 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-ence-m1-mirage_66145.dem
11:35:47 [INFO] Wrote demo parse output to vitality-vs-ence-m1-mirage.json
11:35:47 [INFO] Reading in JSON from vitality-vs-ence-m1-mirage.json
11:35:47 [INFO] JSON data loaded, available in the `json` attribute to parser
11:35:47 [INFO] Successfully parsed JSON output
11:35:47 [INFO] Successfully returned JSON output
11:35:47 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:35:47 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-ence-m2-overpass_66145.dem
11:36:13 [INFO] Wrote demo parse output to vitality-vs-ence-m2-overpass.json
11:36:13 [INFO] Reading in JSON from vitality-vs-ence-m2-overpass.json
11:36:14 [INFO] JSON data loaded, available in the `json` attribute to parser
11:36:14 [INFO] Successfully parsed JSON output
11:36:14 [INFO] Successfully returned JSON output
11:36:14 [INFO] Parsed kills to Pandas DataFrame
11:36:14 [INFO] Parsed rounds to Pandas DataFrame
11:36:14 [INFO] Parsed damages to Pandas DataFrame
11:36:14 [INFO] Parsed frames to Pandas DataFrame
11:36:14 [INFO] Parsed player frames to Pandas DataFrame
11:36:14 [INFO] Parsed bomb_events to Pandas DataFrame
11:36:14 [INFO] Parsed grenades to Pandas DataFrame
11:36:14 [INFO] Parsed flashes to Pandas DataFrame
11:36:14 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:36:14 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-ence-m2-overpass_66145.dem
11:36:40 [INFO] Wrote demo parse output to vitality-vs-ence-m2-overpass.json
11:36:40 [INFO] Reading in JSON from vitality-vs-ence-m2-overpass.json
11:36:40 [INFO] JSON data loaded, available in the `json` attribute to parser
11:36:40 [INFO] Successfully parsed JSON output
11:36:40 [INFO] Successfully returned JSON output
11:36:40 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:36:40 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m1-dust2_67036.dem
11:36:56 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m1-dust2.json
11:36:56 [INFO] Reading in JSON from vitality-vs-natus-vincere-m1-dust2.json
11:36:56 [INFO] JSON data loaded, available in the `json` attribute to parser
11:36:56 [INFO] Successfully parsed JSON output
11:36:56 [INFO] Successfully returned JSON output
11:36:56 [INFO] Parsed kills to Pandas DataFrame
11:36:56 [INFO] Parsed rounds to Pandas DataFrame
11:36:56 [INFO] Parsed damages to Pandas DataFrame
11:36:56 [INFO] Parsed frames to Pandas DataFrame
11:36:57 [INFO] Parsed player frames to Pandas DataFrame
11:36:57 [INFO] Parsed bomb_events to Pandas DataFrame
11:36:57 [INFO] Parsed grenades to Pandas DataFrame
11:36:57 [INFO] Parsed flashes to Pandas DataFrame
11:36:57 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:36:57 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m1-dust2_67036.dem
11:37:12 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m1-dust2.json
11:37:12 [INFO] Reading in JSON from vitality-vs-natus-vincere-m1-dust2.json
11:37:13 [INFO] JSON data loaded, available in the `json` attribute to parser

11:37:13 [INFO] Successfully parsed JSON output
11:37:13 [INFO] Successfully returned JSON output
11:37:13 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:37:13 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m2-inferno_67036.dem
11:37:27 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m2-inferno.json
11:37:27 [INFO] Reading in JSON from vitality-vs-natus-vincere-m2-inferno.json
11:37:28 [INFO] JSON data loaded, available in the `json` attribute to parser
11:37:28 [INFO] Successfully parsed JSON output
11:37:28 [INFO] Successfully returned JSON output
11:37:28 [INFO] Parsed kills to Pandas DataFrame
11:37:28 [INFO] Parsed rounds to Pandas DataFrame
11:37:28 [INFO] Parsed damages to Pandas DataFrame
11:37:28 [INFO] Parsed frames to Pandas DataFrame
11:37:28 [INFO] Parsed player frames to Pandas DataFrame
11:37:28 [INFO] Parsed bomb_events to Pandas DataFrame
11:37:28 [INFO] Parsed grenades to Pandas DataFrame
11:37:28 [INFO] Parsed flashes to Pandas DataFrame
11:37:28 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:37:28 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m2-inferno_67036.dem
11:37:43 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m2-inferno.json
11:37:43 [INFO] Reading in JSON from vitality-vs-natus-vincere-m2-inferno.json
11:37:44 [INFO] JSON data loaded, available in the `json` attribute to parser
11:37:44 [INFO] Successfully parsed JSON output
11:37:44 [INFO] Successfully returned JSON output
11:37:44 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:37:44 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m3-nuke_67036.dem
11:38:06 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m3-nuke.json
11:38:06 [INFO] Reading in JSON from vitality-vs-natus-vincere-m3-nuke.json
11:38:06 [INFO] JSON data loaded, available in the `json` attribute to parser
11:38:06 [INFO] Successfully parsed JSON output
11:38:06 [INFO] Successfully returned JSON output
11:38:06 [INFO] Parsed kills to Pandas DataFrame
11:38:06 [INFO] Parsed rounds to Pandas DataFrame
11:38:06 [INFO] Parsed damages to Pandas DataFrame
11:38:06 [INFO] Parsed frames to Pandas DataFrame
11:38:07 [INFO] Parsed player frames to Pandas DataFrame
11:38:07 [INFO] Parsed bomb_events to Pandas DataFrame
11:38:07 [INFO] Parsed grenades to Pandas DataFrame
11:38:07 [INFO] Parsed flashes to Pandas DataFrame
11:38:07 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:38:07 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m3-nuke_67036.dem
11:38:29 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m3-nuke.json
11:38:29 [INFO] Reading in JSON from vitality-vs-natus-vincere-m3-nuke.json
11:38:30 [INFO] JSON data loaded, available in the `json` attribute to parser
11:38:30 [INFO] Successfully parsed JSON output
11:38:30 [INFO] Successfully returned JSON output
11:38:30 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:38:30 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m4-overpass_67036.dem
11:38:54 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m4-overpass.json
11:38:54 [INFO] Reading in JSON from vitality-vs-natus-vincere-m4-overpass.json
11:38:55 [INFO] JSON data loaded, available in the `json` attribute to parser
11:38:55 [INFO] Successfully parsed JSON output
11:38:55 [INFO] Successfully returned JSON output
11:38:55 [INFO] Parsed kills to Pandas DataFrame
11:38:55 [INFO] Parsed rounds to Pandas DataFrame
11:38:55 [INFO] Parsed damages to Pandas DataFrame
11:38:55 [INFO] Parsed frames to Pandas DataFrame
11:38:55 [INFO] Parsed player frames to Pandas DataFrame
11:38:55 [INFO] Parsed bomb_events to Pandas DataFrame
11:38:55 [INFO] Parsed grenades to Pandas DataFrame
11:38:55 [INFO] Parsed flashes to Pandas DataFrame
11:38:55 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:38:55 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m4-overpass_67036.dem
11:39:20 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m4-overpass.json
11:39:20 [INFO] Reading in JSON from vitality-vs-natus-vincere-m4-overpass.json
11:39:21 [INFO] JSON data loaded, available in the `json` attribute to parser
11:39:21 [INFO] Successfully parsed JSON output
11:39:21 [INFO] Successfully returned JSON output
11:39:21 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:39:21 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m5-mirage_67036.dem
11:39:36 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m5-mirage.json
11:39:36 [INFO] Reading in JSON from vitality-vs-natus-vincere-m5-mirage.json
11:39:36 [INFO] JSON data loaded, available in the `json` attribute to parser
11:39:36 [INFO] Successfully parsed JSON output
11:39:36 [INFO] Successfully returned JSON output
11:39:36 [INFO] Parsed kills to Pandas DataFrame
11:39:36 [INFO] Parsed rounds to Pandas DataFrame
11:39:36 [INFO] Parsed damages to Pandas DataFrame
11:39:36 [INFO] Parsed frames to Pandas DataFrame
11:39:36 [INFO] Parsed player frames to Pandas DataFrame
11:39:37 [INFO] Parsed bomb_events to Pandas DataFrame
11:39:37 [INFO] Parsed grenades to Pandas DataFrame
11:39:37 [INFO] Parsed flashes to Pandas DataFrame
11:39:37 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:39:37 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-natus-vincere-m5-mirage_67036.dem
11:39:52 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m5-mirage.json
11:39:52 [INFO] Reading in JSON from vitality-vs-natus-vincere-m5-mirage.json
11:39:52 [INFO] JSON data loaded, available in the `json` attribute to parser
11:39:52 [INFO] Successfully parsed JSON output
11:39:52 [INFO] Successfully returned JSON output
11:39:52 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:39:52 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-spirit-m1-dust2_66262.dem
11:40:09 [INFO] Wrote demo parse output to vitality-vs-spirit-m1-dust2.json
11:40:09 [INFO] Reading in JSON from vitality-vs-spirit-m1-dust2.json
11:40:10 [INFO] JSON data loaded, available in the `json` attribute to parser
11:40:10 [INFO] Successfully parsed JSON output
11:40:10 [INFO] Successfully returned JSON output
11:40:10 [INFO] Parsed kills to Pandas DataFrame
11:40:10 [INFO] Parsed rounds to Pandas DataFrame
11:40:10 [INFO] Parsed damages to Pandas DataFrame
11:40:10 [INFO] Parsed frames to Pandas DataFrame
11:40:10 [INFO] Parsed player frames to Pandas DataFrame
11:40:10 [INFO] Parsed bomb_events to Pandas DataFrame
11:40:10 [INFO] Parsed grenades to Pandas DataFrame
11:40:10 [INFO] Parsed flashes to Pandas DataFrame
11:40:10 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:40:10 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-spirit-m1-dust2_66262.dem
11:40:26 [INFO] Wrote demo parse output to vitality-vs-spirit-m1-dust2.json
11:40:26 [INFO] Reading in JSON from vitality-vs-spirit-m1-dust2.json
11:40:26 [INFO] JSON data loaded, available in the `json` attribute to parser
11:40:26 [INFO] Successfully parsed JSON output
11:40:26 [INFO] Successfully returned JSON output
11:40:26 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:40:26 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-spirit-m2-mirage_66262.dem
11:40:38 [INFO] Wrote demo parse output to vitality-vs-spirit-m2-mirage.json
11:40:38 [INFO] Reading in JSON from vitality-vs-spirit-m2-mirage.json
11:40:38 [INFO] JSON data loaded, available in the `json` attribute to parser
11:40:38 [INFO] Successfully parsed JSON output
11:40:38 [INFO] Successfully returned JSON output
11:40:38 [INFO] Parsed kills to Pandas DataFrame
11:40:38 [INFO] Parsed rounds to Pandas DataFrame
11:40:38 [INFO] Parsed damages to Pandas DataFrame

11:40:38 [INFO] Parsed frames to Pandas DataFrame
11:40:38 [INFO] Parsed player frames to Pandas DataFrame
11:40:38 [INFO] Parsed bomb_events to Pandas DataFrame
11:40:38 [INFO] Parsed grenades to Pandas DataFrame
11:40:38 [INFO] Parsed flashes to Pandas DataFrame
11:40:38 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:40:38 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-spirit-m2-mirage_66262.dem
11:40:49 [INFO] Wrote demo parse output to vitality-vs-spirit-m2-mirage.json
11:40:49 [INFO] Reading in JSON from vitality-vs-spirit-m2-mirage.json
11:40:50 [INFO] JSON data loaded, available in the `json` attribute to parser
11:40:50 [INFO] Successfully parsed JSON output
11:40:50 [INFO] Successfully returned JSON output
11:40:50 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:40:50 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-spirit-m3-nuke_66262.dem
11:41:11 [INFO] Wrote demo parse output to vitality-vs-spirit-m3-nuke.json
11:41:11 [INFO] Reading in JSON from vitality-vs-spirit-m3-nuke.json
11:41:12 [INFO] JSON data loaded, available in the `json` attribute to parser
11:41:12 [INFO] Successfully parsed JSON output
11:41:12 [INFO] Successfully returned JSON output
11:41:12 [INFO] Parsed kills to Pandas DataFrame
11:41:12 [INFO] Parsed rounds to Pandas DataFrame
11:41:12 [INFO] Parsed damages to Pandas DataFrame
11:41:12 [INFO] Parsed frames to Pandas DataFrame
11:41:13 [INFO] Parsed player frames to Pandas DataFrame
11:41:13 [INFO] Parsed bomb_events to Pandas DataFrame
11:41:13 [INFO] Parsed grenades to Pandas DataFrame
11:41:13 [INFO] Parsed flashes to Pandas DataFrame
11:41:13 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
11:41:13 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/ZYWOO/vitality-vs-spirit-m3-nuke_66262.dem
11:41:34 [INFO] Wrote demo parse output to vitality-vs-spirit-m3-nuke.json
11:41:34 [INFO] Reading in JSON from vitality-vs-spirit-m3-nuke.json
11:41:34 [INFO] JSON data loaded, available in the `json` attribute to parser
11:41:34 [INFO] Successfully parsed JSON output
11:41:34 [INFO] Successfully returned JSON output

In [168]:
finalzKillData = concat_data(zKillData)
finalzRoundData = concat_data(zRoundData)
finalzDamageData = concat_data(zDamageData)
finalzGrenadeData = concat_data(zGrenadeData)
finalzFlashData = concat_data(zFlashData)
finalzBombData = concat_data(zBombEvents)

In [169]:
zkillMapData = divideDataByMaps(finalzKillData)
zroundMapData = divideDataByMaps(finalzRoundData)
zdamageMapData = divideDataByMaps(finalzDamageData)
zgrenadeMapData = divideDataByMaps(finalzGrenadeData)
zflashMapData = divideDataByMaps(finalzFlashData)
zBombMapData = divideDataByMaps(finalzBombData)

In [11]:
sKillData, sRoundData, sDamageData, sFrameData, sPlayerFrames, sBombEvents, sGrenadeData, sFlashData = generateData(generateDemoParsers(getDemoPaths(s1mple_path)))

09:12:26 [INFO] Go version>=1.14.0
09:12:26 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-big-m1-dust2.dem
09:12:26 [INFO] Setting demo id to natus-vincere-vs-big-m1-dust2
09:12:26 [INFO] Setting parse rate to 128
09:12:26 [INFO] Go version>=1.14.0
09:12:26 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-big-m2-mirage.dem
09:12:26 [INFO] Setting demo id to natus-vincere-vs-big-m2-mirage
09:12:26 [INFO] Setting parse rate to 128
09:12:26 [INFO] Go version>=1.14.0
09:12:26 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-ence-m1-ancient.dem
09:12:26 [INFO] Setting demo id to natus-vincere-vs-ence-m1-ancient
09:12:26 [INFO] Setting parse rate to 128
09:12:27 [INFO] Go version>=1.14.0
09:12:27 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-ence-m2-nuke.dem
09:12:27 [INFO] Setting demo id to natus-vincere-vs-ence-m2-nuke
09:12:27 [INFO] Setting parse rate to 128
09:12:27 [INFO] Go version>=1.14.0
09:12:27 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-evil-geniuses-m1-inferno.dem
09:12:27 [INFO] Setting demo id to natus-vincere-vs-evil-geniuses-m1-inferno
09:12:27 [INFO] Setting parse rate to 128
09:12:27 [INFO] Go version>=1.14.0
09:12:27 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-evil-geniuses-m2-nuke.dem
09:12:27 [INFO] Setting demo id to natus-vincere-vs-evil-geniuses-m2-nuke
09:12:27 [INFO] Setting parse rate to 128
09:12:27 [INFO] Go version>=1.14.0
09:12:27 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-faze-m1-inferno.dem
09:12:27 [INFO] Setting demo id to natus-vincere-vs-faze-m1-inferno
09:12:27 [INFO] Setting parse rate to 128
09:12:28 [INFO] Go version>=1.14.0
09:12:28 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-faze-m2-nuke.dem
09:12:28 [INFO] Setting demo id to natus-vincere-vs-faze-m2-nuke
09:12:28 [INFO] Setting parse rate to 128
09:12:28 [INFO] Go version>=1.14.0
09:12:28 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-fnatic-m1-overpass.dem
09:12:28 [INFO] Setting demo id to natus-vincere-vs-fnatic-m1-overpass
09:12:28 [INFO] Setting parse rate to 128
09:12:28 [INFO] Go version>=1.14.0
09:12:28 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-fnatic-m2-nuke.dem
09:12:28 [INFO] Setting demo id to natus-vincere-vs-fnatic-m2-nuke
09:12:28 [INFO] Setting parse rate to 128
09:12:28 [INFO] Go version>=1.14.0
09:12:28 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-heroic-m1-mirage.dem
09:12:28 [INFO] Setting demo id to natus-vincere-vs-heroic-m1-mirage
09:12:28 [INFO] Setting parse rate to 128
09:12:29 [INFO] Go version>=1.14.0
09:12:29 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-heroic-m2-overpass.dem
09:12:29 [INFO] Setting demo id to natus-vincere-vs-heroic-m2-overpass
09:12:29 [INFO] Setting parse rate to 128
09:12:29 [INFO] Go version>=1.14.0
09:12:29 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-heroic-m3-nuke.dem
09:12:29 [INFO] Setting demo id to natus-vincere-vs-heroic-m3-nuke
09:12:29 [INFO] Setting parse rate to 128
09:12:29 [INFO] Go version>=1.14.0
09:12:29 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-mousesports-m1-ancient.dem
09:12:29 [INFO] Setting demo id to natus-vincere-vs-mousesports-m1-ancient
09:12:29 [INFO] Setting parse rate to 128
09:12:29 [INFO] Go version>=1.14.0
09:12:29 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-mousesports-m2-mirage.dem
09:12:29 [INFO] Setting demo id to natus-vincere-vs-mousesports-m2-mirage
09:12:29 [INFO] Setting parse rate to 128
09:12:30 [INFO] Go version>=1.14.0
09:12:30 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m1-dust2.dem
09:12:30 [INFO] Setting demo id to vitality-vs-natus-vincere-m1-dust2
09:12:30 [INFO] Setting parse rate to 128
09:12:30 [INFO] Go version>=1.14.0
09:12:30 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m2-inferno.dem
09:12:30 [INFO] Setting demo id to vitality-vs-natus-vincere-m2-inferno
09:12:30 [INFO] Setting parse rate to 128
09:12:30 [INFO] Go version>=1.14.0
09:12:30 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m3-nuke.dem
09:12:30 [INFO] Setting demo id to vitality-vs-natus-vincere-m3-nuke
09:12:30 [INFO] Setting parse rate to 128
09:12:30 [INFO] Go version>=1.14.0
09:12:30 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m4-overpass.dem
09:12:30 [INFO] Setting demo id to vitality-vs-natus-vincere-m4-overpass
09:12:30 [INFO] Setting parse rate to 128
09:12:30 [INFO] Go version>=1.14.0
09:12:30 [INFO] Initialized CSGODemoParser with demofile /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m5-mirage.dem
09:12:30 [INFO] Setting demo id to vitality-vs-natus-vincere-m5-mirage
09:12:30 [INFO] Setting parse rate to 128
09:12:30 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:12:30 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-big-m1-dust2.dem

# Demo Parsers: 20

09:12:48 [INFO] Wrote demo parse output to natus-vincere-vs-big-m1-dust2.json
09:12:48 [INFO] Reading in JSON from natus-vincere-vs-big-m1-dust2.json
09:12:48 [INFO] JSON data loaded, available in the `json` attribute to parser
09:12:48 [INFO] Successfully parsed JSON output
09:12:48 [INFO] Successfully returned JSON output
09:12:48 [INFO] Parsed kills to Pandas DataFrame
09:12:48 [INFO] Parsed rounds to Pandas DataFrame
09:12:48 [INFO] Parsed damages to Pandas DataFrame
09:12:48 [INFO] Parsed frames to Pandas DataFrame
09:12:48 [INFO] Parsed player frames to Pandas DataFrame
09:12:48 [INFO] Parsed bomb_events to Pandas DataFrame
09:12:48 [INFO] Parsed grenades to Pandas DataFrame
09:12:48 [INFO] Parsed flashes to Pandas DataFrame
09:12:48 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:12:48 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-big-m2-mirage.dem
09:13:02 [INFO] Wrote demo parse output to natus-vincere-vs-big-m2-mirage.json
09:13:02 [INFO] Reading in JSON from natus-vincere-vs-big-m2-mirage.json
09:13:02 [INFO] JSON data loaded, available in the `json` attribute to parser
09:13:02 [INFO] Successfully parsed JSON output
09:13:02 [INFO] Successfully returned JSON output
09:13:02 [INFO] Parsed kills to Pandas DataFrame
09:13:02 [INFO] Parsed rounds to Pandas DataFrame
09:13:02 [INFO] Parsed damages to Pandas DataFrame
09:13:02 [INFO] Parsed frames to Pandas DataFrame
09:13:02 [INFO] Parsed player frames to Pandas DataFrame
09:13:02 [INFO] Parsed bomb_events to Pandas DataFrame
09:13:02 [INFO] Parsed grenades to Pandas DataFrame
09:13:02 [INFO] Parsed flashes to Pandas DataFrame
09:13:02 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:13:02 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-ence-m1-ancient.dem
09:13:12 [INFO] Wrote demo parse output to natus-vincere-vs-ence-m1-ancient.json
09:13:12 [INFO] Reading in JSON from natus-vincere-vs-ence-m1-ancient.json
09:13:13 [INFO] JSON data loaded, available in the `json` attribute to parser
09:13:13 [INFO] Successfully parsed JSON output
09:13:13 [INFO] Successfully returned JSON output
09:13:13 [INFO] Parsed kills to Pandas DataFrame
09:13:13 [INFO] Parsed rounds to Pandas DataFrame
09:13:13 [INFO] Parsed damages to Pandas DataFrame
09:13:13 [INFO] Parsed frames to Pandas DataFrame
09:13:13 [INFO] Parsed player frames to Pandas DataFrame
09:13:13 [INFO] Parsed bomb_events to Pandas DataFrame
09:13:13 [INFO] Parsed grenades to Pandas DataFrame
09:13:13 [INFO] Parsed flashes to Pandas DataFrame
09:13:13 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:13:13 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-ence-m2-nuke.dem
09:13:28 [INFO] Wrote demo parse output to natus-vincere-vs-ence-m2-nuke.json
09:13:28 [INFO] Reading in JSON from natus-vincere-vs-ence-m2-nuke.json
09:13:29 [INFO] JSON data loaded, available in the `json` attribute to parser
09:13:29 [INFO] Successfully parsed JSON output
09:13:29 [INFO] Successfully returned JSON output
09:13:29 [INFO] Parsed kills to Pandas DataFrame
09:13:29 [INFO] Parsed rounds to Pandas DataFrame
09:13:29 [INFO] Parsed damages to Pandas DataFrame
09:13:29 [INFO] Parsed frames to Pandas DataFrame
09:13:29 [INFO] Parsed player frames to Pandas DataFrame
09:13:29 [INFO] Parsed bomb_events to Pandas DataFrame
09:13:29 [INFO] Parsed grenades to Pandas DataFrame
09:13:29 [INFO] Parsed flashes to Pandas DataFrame
09:13:29 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:13:29 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-evil-geniuses-m1-inferno.dem
09:13:46 [INFO] Wrote demo parse output to natus-vincere-vs-evil-geniuses-m1-inferno.json
09:13:46 [INFO] Reading in JSON from natus-vincere-vs-evil-geniuses-m1-inferno.json
09:13:47 [INFO] JSON data loaded, available in the `json` attribute to parser
09:13:47 [INFO] Successfully parsed JSON output
09:13:47 [INFO] Successfully returned JSON output
09:13:47 [INFO] Parsed kills to Pandas DataFrame
09:13:47 [INFO] Parsed rounds to Pandas DataFrame
09:13:47 [INFO] Parsed damages to Pandas DataFrame
09:13:47 [INFO] Parsed frames to Pandas DataFrame
09:13:47 [INFO] Parsed player frames to Pandas DataFrame
09:13:47 [INFO] Parsed bomb_events to Pandas DataFrame
09:13:47 [INFO] Parsed grenades to Pandas DataFrame
09:13:47 [INFO] Parsed flashes to Pandas DataFrame
09:13:47 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:13:47 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-evil-geniuses-m2-nuke.dem
09:14:03 [INFO] Wrote demo parse output to natus-vincere-vs-evil-geniuses-m2-nuke.json
09:14:03 [INFO] Reading in JSON from natus-vincere-vs-evil-geniuses-m2-nuke.json
09:14:04 [INFO] JSON data loaded, available in the `json` attribute to parser
09:14:04 [INFO] Successfully parsed JSON output
09:14:04 [INFO] Successfully returned JSON output
09:14:04 [INFO] Parsed kills to Pandas DataFrame
09:14:04 [INFO] Parsed rounds to Pandas DataFrame
09:14:04 [INFO] Parsed damages to Pandas DataFrame
09:14:04 [INFO] Parsed frames to Pandas DataFrame
09:14:04 [INFO] Parsed player frames to Pandas DataFrame
09:14:04 [INFO] Parsed bomb_events to Pandas DataFrame
09:14:04 [INFO] Parsed grenades to Pandas DataFrame
09:14:04 [INFO] Parsed flashes to Pandas DataFrame
09:14:04 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:14:04 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-faze-m1-inferno.dem
09:14:19 [INFO] Wrote demo parse output to natus-vincere-vs-faze-m1-inferno.json
09:14:19 [INFO] Reading in JSON from natus-vincere-vs-faze-m1-inferno.json
09:14:19 [INFO] JSON data loaded, available in the `json` attribute to parser
09:14:19 [INFO] Successfully parsed JSON output
09:14:19 [INFO] Successfully returned JSON output
09:14:19 [INFO] Parsed kills to Pandas DataFrame
09:14:19 [INFO] Parsed rounds to Pandas DataFrame
09:14:19 [INFO] Parsed damages to Pandas DataFrame
09:14:19 [INFO] Parsed frames to Pandas DataFrame
09:14:20 [INFO] Parsed player frames to Pandas DataFrame
09:14:20 [INFO] Parsed bomb_events to Pandas DataFrame
09:14:20 [INFO] Parsed grenades to Pandas DataFrame
09:14:20 [INFO] Parsed flashes to Pandas DataFrame
09:14:20 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:14:20 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-faze-m2-nuke.dem
09:14:49 [INFO] Wrote demo parse output to natus-vincere-vs-faze-m2-nuke.json
09:14:49 [INFO] Reading in JSON from natus-vincere-vs-faze-m2-nuke.json
09:14:50 [INFO] JSON data loaded, available in the `json` attribute to parser
09:14:50 [INFO] Successfully parsed JSON output
09:14:50 [INFO] Successfully returned JSON output
09:14:50 [INFO] Parsed kills to Pandas DataFrame
09:14:50 [INFO] Parsed rounds to Pandas DataFrame
09:14:50 [INFO] Parsed damages to Pandas DataFrame
09:14:50 [INFO] Parsed frames to Pandas DataFrame
09:14:50 [INFO] Parsed player frames to Pandas DataFrame
09:14:50 [INFO] Parsed bomb_events to Pandas DataFrame
09:14:50 [INFO] Parsed grenades to Pandas DataFrame
09:14:50 [INFO] Parsed flashes to Pandas DataFrame
09:14:50 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:14:50 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-fnatic-m1-overpass.dem
09:15:30 [INFO] Wrote demo parse output to natus-vincere-vs-fnatic-m1-overpass.json
09:15:30 [INFO] Reading in JSON from natus-vincere-vs-fnatic-m1-overpass.json
09:15:31 [INFO] JSON data loaded, available in the `json` attribute to parser
09:15:31 [INFO] Successfully parsed JSON output
09:15:31 [INFO] Successfully returned JSON output
09:15:31 [INFO] Parsed kills to Pandas DataFrame
09:15:31 [INFO] Parsed rounds to Pandas DataFrame
09:15:31 [INFO] Parsed damages to Pandas DataFrame
09:15:31 [INFO] Parsed frames to Pandas DataFrame
09:15:32 [INFO] Parsed player frames to Pandas DataFrame
09:15:32 [INFO] Parsed bomb_events to Pandas DataFrame

09:15:32 [INFO] Parsed grenades to Pandas DataFrame
09:15:32 [INFO] Parsed flashes to Pandas DataFrame
09:15:32 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:15:32 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-fnatic-m2-nuke.dem
09:15:52 [INFO] Wrote demo parse output to natus-vincere-vs-fnatic-m2-nuke.json
09:15:52 [INFO] Reading in JSON from natus-vincere-vs-fnatic-m2-nuke.json
09:15:53 [INFO] JSON data loaded, available in the `json` attribute to parser
09:15:53 [INFO] Successfully parsed JSON output
09:15:53 [INFO] Successfully returned JSON output
09:15:53 [INFO] Parsed kills to Pandas DataFrame
09:15:53 [INFO] Parsed rounds to Pandas DataFrame
09:15:53 [INFO] Parsed damages to Pandas DataFrame
09:15:53 [INFO] Parsed frames to Pandas DataFrame
09:15:53 [INFO] Parsed player frames to Pandas DataFrame
09:15:53 [INFO] Parsed bomb_events to Pandas DataFrame
09:15:53 [INFO] Parsed grenades to Pandas DataFrame
09:15:53 [INFO] Parsed flashes to Pandas DataFrame
09:15:53 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:15:53 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-heroic-m1-mirage.dem
09:16:10 [INFO] Wrote demo parse output to natus-vincere-vs-heroic-m1-mirage.json
09:16:10 [INFO] Reading in JSON from natus-vincere-vs-heroic-m1-mirage.json
09:16:11 [INFO] JSON data loaded, available in the `json` attribute to parser
09:16:11 [INFO] Successfully parsed JSON output
09:16:11 [INFO] Successfully returned JSON output
09:16:11 [INFO] Parsed kills to Pandas DataFrame
09:16:11 [INFO] Parsed rounds to Pandas DataFrame
09:16:11 [INFO] Parsed damages to Pandas DataFrame
09:16:11 [INFO] Parsed frames to Pandas DataFrame
09:16:11 [INFO] Parsed player frames to Pandas DataFrame
09:16:11 [INFO] Parsed bomb_events to Pandas DataFrame
09:16:11 [INFO] Parsed grenades to Pandas DataFrame
09:16:11 [INFO] Parsed flashes to Pandas DataFrame
09:16:11 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:16:11 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-heroic-m2-overpass.dem
09:16:42 [INFO] Wrote demo parse output to natus-vincere-vs-heroic-m2-overpass.json
09:16:42 [INFO] Reading in JSON from natus-vincere-vs-heroic-m2-overpass.json
09:16:43 [INFO] JSON data loaded, available in the `json` attribute to parser
09:16:43 [INFO] Successfully parsed JSON output
09:16:43 [INFO] Successfully returned JSON output
09:16:43 [INFO] Parsed kills to Pandas DataFrame
09:16:43 [INFO] Parsed rounds to Pandas DataFrame
09:16:43 [INFO] Parsed damages to Pandas DataFrame
09:16:43 [INFO] Parsed frames to Pandas DataFrame
09:16:43 [INFO] Parsed player frames to Pandas DataFrame
09:16:43 [INFO] Parsed bomb_events to Pandas DataFrame
09:16:43 [INFO] Parsed grenades to Pandas DataFrame
09:16:43 [INFO] Parsed flashes to Pandas DataFrame
09:16:43 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:16:43 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-heroic-m3-nuke.dem
09:17:06 [INFO] Wrote demo parse output to natus-vincere-vs-heroic-m3-nuke.json
09:17:06 [INFO] Reading in JSON from natus-vincere-vs-heroic-m3-nuke.json
09:17:07 [INFO] JSON data loaded, available in the `json` attribute to parser
09:17:07 [INFO] Successfully parsed JSON output
09:17:07 [INFO] Successfully returned JSON output
09:17:07 [INFO] Parsed kills to Pandas DataFrame
09:17:07 [INFO] Parsed rounds to Pandas DataFrame
09:17:07 [INFO] Parsed damages to Pandas DataFrame
09:17:07 [INFO] Parsed frames to Pandas DataFrame
09:17:07 [INFO] Parsed player frames to Pandas DataFrame
09:17:07 [INFO] Parsed bomb_events to Pandas DataFrame
09:17:07 [INFO] Parsed grenades to Pandas DataFrame
09:17:07 [INFO] Parsed flashes to Pandas DataFrame
09:17:07 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:17:07 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-mousesports-m1-ancient.dem
09:17:22 [INFO] Wrote demo parse output to natus-vincere-vs-mousesports-m1-ancient.json
09:17:22 [INFO] Reading in JSON from natus-vincere-vs-mousesports-m1-ancient.json
09:17:22 [INFO] JSON data loaded, available in the `json` attribute to parser
09:17:22 [INFO] Successfully parsed JSON output
09:17:22 [INFO] Successfully returned JSON output
09:17:22 [INFO] Parsed kills to Pandas DataFrame
09:17:22 [INFO] Parsed rounds to Pandas DataFrame
09:17:22 [INFO] Parsed damages to Pandas DataFrame
09:17:22 [INFO] Parsed frames to Pandas DataFrame
09:17:22 [INFO] Parsed player frames to Pandas DataFrame
09:17:23 [INFO] Parsed bomb_events to Pandas DataFrame
09:17:23 [INFO] Parsed grenades to Pandas DataFrame
09:17:23 [INFO] Parsed flashes to Pandas DataFrame
09:17:23 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:17:23 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/natus-vincere-vs-mousesports-m2-mirage.dem
09:17:35 [INFO] Wrote demo parse output to natus-vincere-vs-mousesports-m2-mirage.json
09:17:35 [INFO] Reading in JSON from natus-vincere-vs-mousesports-m2-mirage.json
09:17:36 [INFO] JSON data loaded, available in the `json` attribute to parser
09:17:36 [INFO] Successfully parsed JSON output
09:17:36 [INFO] Successfully returned JSON output
09:17:36 [INFO] Parsed kills to Pandas DataFrame
09:17:36 [INFO] Parsed rounds to Pandas DataFrame
09:17:36 [INFO] Parsed damages to Pandas DataFrame
09:17:36 [INFO] Parsed frames to Pandas DataFrame
09:17:36 [INFO] Parsed player frames to Pandas DataFrame
09:17:36 [INFO] Parsed bomb_events to Pandas DataFrame
09:17:36 [INFO] Parsed grenades to Pandas DataFrame
09:17:36 [INFO] Parsed flashes to Pandas DataFrame
09:17:36 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:17:36 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m1-dust2.dem
09:17:52 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m1-dust2.json
09:17:52 [INFO] Reading in JSON from vitality-vs-natus-vincere-m1-dust2.json
09:17:52 [INFO] JSON data loaded, available in the `json` attribute to parser
09:17:52 [INFO] Successfully parsed JSON output
09:17:52 [INFO] Successfully returned JSON output
09:17:52 [INFO] Parsed kills to Pandas DataFrame
09:17:52 [INFO] Parsed rounds to Pandas DataFrame
09:17:52 [INFO] Parsed damages to Pandas DataFrame
09:17:52 [INFO] Parsed frames to Pandas DataFrame
09:17:52 [INFO] Parsed player frames to Pandas DataFrame
09:17:52 [INFO] Parsed bomb_events to Pandas DataFrame
09:17:52 [INFO] Parsed grenades to Pandas DataFrame
09:17:52 [INFO] Parsed flashes to Pandas DataFrame
09:17:52 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:17:52 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m2-inferno.dem
09:18:07 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m2-inferno.json
09:18:07 [INFO] Reading in JSON from vitality-vs-natus-vincere-m2-inferno.json
09:18:07 [INFO] JSON data loaded, available in the `json` attribute to parser
09:18:07 [INFO] Successfully parsed JSON output
09:18:07 [INFO] Successfully returned JSON output
09:18:07 [INFO] Parsed kills to Pandas DataFrame
09:18:07 [INFO] Parsed rounds to Pandas DataFrame
09:18:07 [INFO] Parsed damages to Pandas DataFrame
09:18:07 [INFO] Parsed frames to Pandas DataFrame
09:18:07 [INFO] Parsed player frames to Pandas DataFrame
09:18:07 [INFO] Parsed bomb_events to Pandas DataFrame
09:18:07 [INFO] Parsed grenades to Pandas DataFrame
09:18:07 [INFO] Parsed flashes to Pandas DataFrame
09:18:07 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:18:07 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m3-nuke.dem
09:18:30 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m3-nuke.json
09:18:30 [INFO] Reading in JSON from vitality-vs-natus-vincere-m3-nuke.json
09:18:30 [INFO] JSON data loaded, available in the `json` attribute to parser
09:18:30 [INFO] Successfully parsed JSON output
09:18:30 [INFO] Successfully returned JSON output

09:18:30 [INFO] Parsed kills to Pandas DataFrame
09:18:30 [INFO] Parsed rounds to Pandas DataFrame
09:18:30 [INFO] Parsed damages to Pandas DataFrame
09:18:30 [INFO] Parsed frames to Pandas DataFrame
09:18:30 [INFO] Parsed player frames to Pandas DataFrame
09:18:30 [INFO] Parsed bomb_events to Pandas DataFrame
09:18:30 [INFO] Parsed grenades to Pandas DataFrame
09:18:30 [INFO] Parsed flashes to Pandas DataFrame
09:18:30 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:18:30 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m4-overpass.dem
09:18:55 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m4-overpass.json
09:18:55 [INFO] Reading in JSON from vitality-vs-natus-vincere-m4-overpass.json
09:18:56 [INFO] JSON data loaded, available in the `json` attribute to parser
09:18:56 [INFO] Successfully parsed JSON output
09:18:56 [INFO] Successfully returned JSON output
09:18:56 [INFO] Parsed kills to Pandas DataFrame
09:18:56 [INFO] Parsed rounds to Pandas DataFrame
09:18:56 [INFO] Parsed damages to Pandas DataFrame
09:18:56 [INFO] Parsed frames to Pandas DataFrame
09:18:56 [INFO] Parsed player frames to Pandas DataFrame
09:18:56 [INFO] Parsed bomb_events to Pandas DataFrame
09:18:56 [INFO] Parsed grenades to Pandas DataFrame
09:18:56 [INFO] Parsed flashes to Pandas DataFrame
09:18:56 [INFO] Running Golang parser from /home/nk095x/cs_demos/csgo/csgo/parser/
09:18:56 [INFO] Looking for file at /mnt/d/EPL_S_14/SIMPLE_VS_ZYWOO/SIMPLE/vitality-vs-natus-vincere-m5-mirage.dem
09:19:12 [INFO] Wrote demo parse output to vitality-vs-natus-vincere-m5-mirage.json
09:19:12 [INFO] Reading in JSON from vitality-vs-natus-vincere-m5-mirage.json
09:19:12 [INFO] JSON data loaded, available in the `json` attribute to parser
09:19:12 [INFO] Successfully parsed JSON output
09:19:12 [INFO] Successfully returned JSON output
09:19:12 [INFO] Parsed kills to Pandas DataFrame
09:19:12 [INFO] Parsed rounds to Pandas DataFrame
09:19:12 [INFO] Parsed damages to Pandas DataFrame
09:19:12 [INFO] Parsed frames to Pandas DataFrame
09:19:12 [INFO] Parsed player frames to Pandas DataFrame
09:19:12 [INFO] Parsed bomb_events to Pandas DataFrame
09:19:12 [INFO] Parsed grenades to Pandas DataFrame
09:19:12 [INFO] Parsed flashes to Pandas DataFrame

In [172]:
finalsKillData = concat_data(sKillData)
finalsRoundData = concat_data(sRoundData)
finalsDamageData = concat_data(sDamageData)
finalsGrenadeData = concat_data(sGrenadeData)
finalsFlashData = concat_data(sFlashData)
finalsBombData = concat_data(sBombEvents)

In [173]:
skillMapData = divideDataByMaps(finalsKillData)
sroundMapData = divideDataByMaps(finalsRoundData)
sdamageMapData = divideDataByMaps(finalsDamageData)
sgrenadeMapData = divideDataByMaps(finalsGrenadeData)
sflashMapData = divideDataByMaps(finalsFlashData)
sBombMapData = divideDataByMaps(finalsBombData)

# Break

In [14]:
finalsKillData.columns

Index(['Tick', 'Second', 'AttackerSteamId', 'AttackerName', 'AttackerTeam',
       'AttackerSide', 'AttackerX', 'AttackerY', 'AttackerZ', 'AttackerAreaId',
       'AttackerAreaName', 'AttackerViewX', 'AttackerViewY', 'VictimSteamId',
       'VictimName', 'VictimTeam', 'VictimSide', 'VictimX', 'VictimY',
       'VictimZ', 'VictimAreaId', 'VictimAreaName', 'VictimViewX',
       'VictimViewY', 'AssisterSteamId', 'AssisterName', 'AssisterTeam',
       'AssisterSide', 'AssisterX', 'AssisterY', 'AssisterZ', 'AssisterAreaId',
       'AssisterAreaName', 'IsSuicide', 'IsTeamkill', 'IsWallbang',
       'PenetratedObjects', 'IsFirstKill', 'IsFlashed', 'IsHeadshot',
       'AssistedFlash', 'AttackerBlind', 'NoScope', 'ThruSmoke', 'Distance',
       'IsTrade', 'PlayerTradedName', 'PlayerTradedTeam',
       'PlayerTradedSteamId', 'Weapon', 'RoundNum', 'MatchId', 'MapName'],
      dtype='object')

In [15]:
simple_maps = {}
for x in finalsKillData['MatchId'].unique():
    if finalsKillData[finalsKillData['MatchId'] == x].MapName.iloc[0] not in simple_maps.keys():
        simple_maps[finalsKillData[finalsKillData['MatchId'] == x].MapName.iloc[0]] = 1
    else:
        simple_maps[finalsKillData[finalsKillData['MatchId'] == x].MapName.iloc[0]] += 1
zywoo_maps = {}
for x in finalzKillData['MatchId'].unique():
    if finalzKillData[finalzKillData['MatchId'] == x].MapName.iloc[0] not in zywoo_maps.keys():
        zywoo_maps[finalzKillData[finalzKillData['MatchId'] == x].MapName.iloc[0]] = 1
    else:
        zywoo_maps[finalzKillData[finalzKillData['MatchId'] == x].MapName.iloc[0]] += 1

In [16]:
simple_maps

{'de_dust2': 2,
 'de_mirage': 4,
 'de_ancient': 2,
 'de_nuke': 6,
 'de_inferno': 3,
 'de_overpass': 3}

In [17]:
zywoo_maps

{'de_overpass': 5,
 'de_inferno': 5,
 'de_vertigo': 3,
 'de_mirage': 5,
 'de_nuke': 4,
 'de_dust2': 2}

# Break

In [18]:
zutil_breakdown = {}
for x in zkillMapData.keys():
    zutil_breakdown[x] = stats.util_dmg_breakdown(zdamageMapData[x], zgrenadeMapData[x])

In [19]:
sutil_breakdown = {}
for x in skillMapData.keys():
    sutil_breakdown[x] = stats.util_dmg_breakdown(sdamageMapData[x], sgrenadeMapData[x])

In [27]:
zutil_breakdown['de_mirage'][zutil_breakdown['de_mirage']['Player'] == 'ZywOo']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
21,ZywOo,HE Grenade,193.0,136.0,22,8.772727,6.181818
22,ZywOo,Molotov,94.0,94.0,20,4.700000,4.700000
23,ZywOo,Incendiary Grenade,55.0,55.0,20,2.750000,2.750000

In [28]:
sutil_breakdown['de_mirage'][sutil_breakdown['de_mirage']['Player'] == 's1mple']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
52,s1mple,HE Grenade,53.0,47.0,13,4.076923,3.615385
53,s1mple,Incendiary Grenade,37.0,37.0,4,9.250000,9.250000
54,s1mple,Molotov,28.0,28.0,15,1.866667,1.866667

In [29]:
zutil_breakdown['de_dust2'][zutil_breakdown['de_dust2']['Player'] == 'ZywOo']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
9,ZywOo,HE Grenade,49.0,49.0,6,8.166667,8.166667
10,ZywOo,Molotov,8.0,8.0,8,1.000000,1.000000
11,ZywOo,Incendiary Grenade,0.0,0.0,4,0.000000,0.000000

In [30]:
sutil_breakdown['de_dust2'][sutil_breakdown['de_dust2']['Player'] == 's1mple']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
30,s1mple,HE Grenade,51.0,51.0,10,5.1,5.1
31,s1mple,Incendiary Grenade,0.0,0.0,3,0.0,0.0
32,s1mple,Molotov,0.0,0.0,7,0.0,0.0

In [31]:
zutil_breakdown['de_nuke'][zutil_breakdown['de_nuke']['Player'] == 'ZywOo']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
15,ZywOo,Incendiary Grenade,216.0,214.0,9,24.000000,23.777778
16,ZywOo,Molotov,162.0,162.0,29,5.586207,5.586207
17,ZywOo,HE Grenade,106.0,106.0,7,15.142857,15.142857

In [32]:
sutil_breakdown['de_nuke'][sutil_breakdown['de_nuke']['Player'] == 's1mple']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
92,s1mple,Molotov,123.0,123.0,55,2.236364,2.236364
93,s1mple,HE Grenade,75.0,75.0,27,2.777778,2.777778
94,s1mple,Incendiary Grenade,40.0,40.0,14,2.857143,2.857143

In [34]:
sutil_breakdown['de_ancient'][sutil_breakdown['de_ancient']['Player'] == 's1mple']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
38,s1mple,Incendiary Grenade,65.0,65.0,20,3.250000,3.250000
39,s1mple,HE Grenade,58.0,58.0,9,6.444444,6.444444
40,s1mple,Molotov,0.0,0.0,3,0.000000,0.000000

In [35]:
zutil_breakdown['de_inferno'][zutil_breakdown['de_inferno']['Player'] == 'ZywOo']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
42,ZywOo,HE Grenade,454.0,454.0,25,18.160000,18.160000
43,ZywOo,Molotov,158.0,158.0,48,3.291667,3.291667
44,ZywOo,Incendiary Grenade,26.0,26.0,26,1.000000,1.000000

In [36]:
sutil_breakdown['de_inferno'][sutil_breakdown['de_inferno']['Player'] == 's1mple']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
54,s1mple,HE Grenade,300.0,288.0,15,20.000000,19.200000
55,s1mple,Incendiary Grenade,241.0,241.0,19,12.684211,12.684211
56,s1mple,Molotov,0.0,0.0,10,0.000000,0.000000

In [37]:
zutil_breakdown['de_overpass'][zutil_breakdown['de_overpass']['Player'] == 'ZywOo']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
38,ZywOo,Molotov,85.0,85.0,32,2.656250,2.656250
39,ZywOo,Incendiary Grenade,71.0,71.0,15,4.733333,4.733333
40,ZywOo,HE Grenade,27.0,27.0,9,3.000000,3.000000

In [38]:
sutil_breakdown['de_overpass'][sutil_breakdown['de_overpass']['Player'] == 's1mple']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
48,s1mple,Incendiary Grenade,94.0,94.0,19,4.947368,4.947368
49,s1mple,HE Grenade,5.0,5.0,7,0.714286,0.714286
50,s1mple,Molotov,3.0,3.0,13,0.230769,0.230769

In [39]:
zutil_breakdown['de_vertigo'][zutil_breakdown['de_vertigo']['Player'] == 'ZywOo']

,Player,Nade Type,UD,Given UD,Nades Thrown,UD Per Nade,Given UD Per Nade
18,ZywOo,Incendiary Grenade,91.0,91.0,15,6.066667,6.066667
19,ZywOo,HE Grenade,27.0,27.0,4,6.750000,6.750000
20,ZywOo,Molotov,1.0,1.0,14,0.071429,0.071429

# Break

In [40]:
z_kill_stats = {}
for x in zkillMapData.keys():
    z_kill_stats[x] = stats.kill_stats(zkillMapData[x], zroundMapData[x])

In [41]:
s_kill_stats = {}
for x in skillMapData.keys():
    s_kill_stats[x] = stats.kill_stats(skillMapData[x], sroundMapData[x])

In [42]:
z_kill_stats['de_mirage'][z_kill_stats['de_mirage']['Player'] == 'ZywOo']

  Player   K   D     A  +/-  HS    FK      KDR       KPR       HS%
0  ZywOo  97  77  10.0   20  31  19.0  1.25974  0.713235  0.319588

In [43]:
s_kill_stats['de_mirage'][s_kill_stats['de_mirage']['Player'] == 's1mple']

   Player    K   D     A  +/-  HS    FK       KDR       KPR       HS%
0  s1mple  103  68  17.0   35  39  23.0  1.514706  0.953704  0.378641

In [58]:
z_kill_stats['de_dust2'][z_kill_stats['de_dust2']['Player'] == 'ZywOo']

  Player   K   D  A  +/-  HS  FK       KDR       KPR       HS%
1  ZywOo  31  35  4   -4   7   5  0.885714  0.607843  0.225806

In [57]:
s_kill_stats['de_dust2'][s_kill_stats['de_dust2']['Player'] == 's1mple']

   Player   K   D  A  +/-  HS   FK     KDR       KPR       HS%
3  s1mple  34  32  5    2  13  6.0  1.0625  0.641509  0.382353

In [49]:
z_kill_stats['de_overpass'][z_kill_stats['de_overpass']['Player'] == 'ZywOo']

  Player   K   D     A  +/-  HS    FK       KDR       KPR       HS%
1  ZywOo  99  70  10.0   29  44  15.0  1.414286  0.811475  0.444444

In [50]:
s_kill_stats['de_overpass'][s_kill_stats['de_overpass']['Player'] == 's1mple']

   Player   K   D  A  +/-  HS  FK      KDR       KPR       HS%
0  s1mple  88  57  7   31  30  11  1.54386  0.956522  0.340909

In [51]:
s_kill_stats['de_inferno'][s_kill_stats['de_inferno']['Player'] == 's1mple']

   Player   K   D    A  +/-  HS    FK       KDR       KPR       HS%
1  s1mple  48  44  4.0    4  23  10.0  1.090909  0.666667  0.479167

In [52]:
z_kill_stats['de_inferno'][z_kill_stats['de_inferno']['Player'] == 'ZywOo']

  Player    K   D     A  +/-  HS    FK      KDR  KPR       HS%
0  ZywOo  127  69  14.0   58  58  24.0  1.84058  1.0  0.456693

In [53]:
s_kill_stats['de_nuke'][s_kill_stats['de_nuke']['Player'] == 's1mple']

   Player    K    D     A  +/-  HS    FK   KDR       KPR       HS%
0  s1mple  157  100  20.0   57  75  34.0  1.57  0.951515  0.477707

In [54]:
z_kill_stats['de_nuke'][z_kill_stats['de_nuke']['Player'] == 'ZywOo']

  Player    K   D   A  +/-  HS    FK       KDR       KPR       HS%
0  ZywOo  103  58  15   45  38  19.0  1.775862  0.962617  0.368932

In [55]:
s_kill_stats['de_ancient'][s_kill_stats['de_ancient']['Player'] == 's1mple']

   Player   K   D    A  +/-  HS  FK       KDR       KPR      HS%
2  s1mple  32  23  6.0    9  17   6  1.391304  0.780488  0.53125

In [56]:
z_kill_stats['de_vertigo'][z_kill_stats['de_vertigo']['Player'] == 'ZywOo']

  Player   K   D  A  +/-  HS    FK       KDR       KPR       HS%
2  ZywOo  49  51  9   -2  20  10.0  0.960784  0.653333  0.408163

# Break

In [59]:
z_kill_breakdown = {}
for x in zkillMapData.keys():
    z_kill_breakdown[x] = stats.kill_breakdown(zkillMapData[x])

In [61]:
s_kill_breakdown = {}
for x in skillMapData.keys():
    s_kill_breakdown[x] = stats.kill_breakdown(skillMapData[x])

In [62]:
z_kill_breakdown['de_mirage'][z_kill_breakdown['de_mirage']['Player'] == 'ZywOo']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
0,ZywOo,0,3,0,0,30,0,55,9,97

In [63]:
s_kill_breakdown['de_mirage'][s_kill_breakdown['de_mirage']['Player'] == 's1mple']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
0,s1mple,0,12,0,1,43,0,43,4,103

In [64]:
z_kill_breakdown['de_dust2'][z_kill_breakdown['de_dust2']['Player'] == 'ZywOo']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
1,ZywOo,0,0,0,3,6,0,20,2,31

In [65]:
s_kill_breakdown['de_dust2'][s_kill_breakdown['de_dust2']['Player'] == 's1mple']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
3,s1mple,0,3,0,3,10,0,17,1,34

In [66]:
z_kill_breakdown['de_overpass'][z_kill_breakdown['de_overpass']['Player'] == 'ZywOo']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
1,ZywOo,0,13,0,9,35,0,38,4,99

In [67]:
s_kill_breakdown['de_overpass'][s_kill_breakdown['de_overpass']['Player'] == 's1mple']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
0,s1mple,0,4,0,1,39,0,43,1,88

In [68]:
s_kill_breakdown['de_inferno'][s_kill_breakdown['de_inferno']['Player'] == 's1mple']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
1,s1mple,0,8,0,0,21,0,15,4,48

In [69]:
z_kill_breakdown['de_inferno'][z_kill_breakdown['de_inferno']['Player'] == 'ZywOo']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
0,ZywOo,0,24,0,8,67,0,28,0,127

In [70]:
s_kill_breakdown['de_nuke'][s_kill_breakdown['de_nuke']['Player'] == 's1mple']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
0,s1mple,0,14,0,4,77,0,44,18,157

In [71]:
z_kill_breakdown['de_nuke'][z_kill_breakdown['de_nuke']['Player'] == 'ZywOo']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
0,ZywOo,0,12,0,0,49,0,41,1,103

In [72]:
s_kill_breakdown['de_ancient'][s_kill_breakdown['de_ancient']['Player'] == 's1mple']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
2,s1mple,0,5,0,1,17,0,9,0,32

In [73]:
z_kill_breakdown['de_vertigo'][z_kill_breakdown['de_vertigo']['Player'] == 'ZywOo']

,Player,Melee Kills,Pistol Kills,Shotgun Kills,SMG Kills,Assault Rifle Kills,Machine Gun Kills,Sniper Rifle Kills,Utility Kills,Total Kills
2,ZywOo,0,8,0,4,33,0,4,0,49

# Break

In [74]:
z_flash_breakdown = {}
for x in zkillMapData.keys():
    z_flash_breakdown[x] = stats.flash_stats(zflashMapData[x], zgrenadeMapData[x])

In [75]:
s_flash_breakdown = {}
for x in skillMapData.keys():
    s_flash_breakdown[x] = stats.flash_stats(sflashMapData[x], sgrenadeMapData[x])

In [78]:
z_flash_breakdown['de_mirage'][z_flash_breakdown['de_mirage']['Player'] == 'ZywOo']

  Player   EF   TF  Flashes Thrown  EF Per Throw
0  ZywOo  173  103              98      1.765306

In [79]:
s_flash_breakdown['de_mirage'][s_flash_breakdown['de_mirage']['Player'] == 's1mple']

   Player   EF  TF  Flashes Thrown  EF Per Throw
2  s1mple  115  87              84      1.369048

In [80]:
z_flash_breakdown['de_dust2'][z_flash_breakdown['de_dust2']['Player'] == 'ZywOo']

  Player  EF  TF  Flashes Thrown  EF Per Throw
1  ZywOo  54  89              46      1.173913

In [81]:
s_flash_breakdown['de_dust2'][s_flash_breakdown['de_dust2']['Player'] == 's1mple']

   Player  EF  TF  Flashes Thrown  EF Per Throw
2  s1mple  63  81              42           1.5

In [82]:
z_flash_breakdown['de_overpass'][z_flash_breakdown['de_overpass']['Player'] == 'ZywOo']

  Player   EF  TF  Flashes Thrown  EF Per Throw
2  ZywOo  104  86              91      1.142857

In [83]:
s_flash_breakdown['de_overpass'][s_flash_breakdown['de_overpass']['Player'] == 's1mple']

   Player   EF  TF  Flashes Thrown  EF Per Throw
2  s1mple  111  62              67      1.656716

In [84]:
s_flash_breakdown['de_inferno'][s_flash_breakdown['de_inferno']['Player'] == 's1mple']

   Player  EF  TF  Flashes Thrown  EF Per Throw
2  s1mple  90  69              51      1.764706

In [85]:
z_flash_breakdown['de_inferno'][z_flash_breakdown['de_inferno']['Player'] == 'ZywOo']

  Player   EF  TF  Flashes Thrown  EF Per Throw
2  ZywOo  140  89              86      1.627907

In [86]:
s_flash_breakdown['de_nuke'][s_flash_breakdown['de_nuke']['Player'] == 's1mple']

   Player   EF     TF  Flashes Thrown  EF Per Throw
1  s1mple  177  110.0             116      1.525862

In [87]:
z_flash_breakdown['de_nuke'][z_flash_breakdown['de_nuke']['Player'] == 'ZywOo']

  Player  EF    TF  Flashes Thrown  EF Per Throw
1  ZywOo  66  46.0              50          1.32

In [88]:
s_flash_breakdown['de_ancient'][s_flash_breakdown['de_ancient']['Player'] == 's1mple']

   Player  EF  TF  Flashes Thrown  EF Per Throw
0  s1mple  47  33              28      1.678571

In [89]:
z_flash_breakdown['de_vertigo'][z_flash_breakdown['de_vertigo']['Player'] == 'ZywOo']

  Player  EF  TF  Flashes Thrown  EF Per Throw
1  ZywOo  64  45              53      1.207547

# Break

In [101]:
z_player_breakdown = {}
for x in zkillMapData.keys():
    z_player_breakdown[x] = stats.player_box_score(zdamageMapData[x], zflashMapData[x], zgrenadeMapData[x], zkillMapData[x], zroundMapData[x])

In [102]:
s_player_breakdown = {}
for x in skillMapData.keys():
    s_player_breakdown[x] = stats.player_box_score(sdamageMapData[x], sflashMapData[x], sgrenadeMapData[x], skillMapData[x], sroundMapData[x])

In [103]:
z_player_breakdown['de_mirage'][z_player_breakdown['de_mirage']['Player'] == 'ZywOo']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
0,ZywOo,97,77,10.0,20,1.25974,69.735294,0.319588,342.0,5.516129,173,1.765306

In [104]:
s_player_breakdown['de_mirage'][s_player_breakdown['de_mirage']['Player'] == 's1mple']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
0,s1mple,103,68,17.0,35,1.514706,94.064815,0.378641,118.0,3.6875,115,1.369048

In [105]:
z_player_breakdown['de_dust2'][z_player_breakdown['de_dust2']['Player'] == 'ZywOo']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
1,ZywOo,31,35,4,-4,0.885714,62.921569,0.225806,57,3.166667,54,1.173913

In [106]:
s_player_breakdown['de_dust2'][s_player_breakdown['de_dust2']['Player'] == 's1mple']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
3,s1mple,34,32,5,2,1.0625,65.415094,0.382353,51,2.55,63,1.5

In [107]:
z_player_breakdown['de_overpass'][z_player_breakdown['de_overpass']['Player'] == 'ZywOo']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
1,ZywOo,99,70,10.0,29,1.414286,79.106557,0.444444,183.0,3.267857,104,1.142857

In [108]:
s_player_breakdown['de_overpass'][s_player_breakdown['de_overpass']['Player'] == 's1mple']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
0,s1mple,88,57,7,31,1.54386,97.01087,0.340909,102,2.615385,111,1.656716

In [109]:
s_player_breakdown['de_inferno'][s_player_breakdown['de_inferno']['Player'] == 's1mple']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
1,s1mple,48,44,4.0,4,1.090909,64.041667,0.479167,541,12.295455,90,1.764706

In [110]:
z_player_breakdown['de_inferno'][z_player_breakdown['de_inferno']['Player'] == 'ZywOo']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
0,ZywOo,127,69,14.0,58,1.84058,94.543307,0.456693,638,6.444444,140,1.627907

In [111]:
s_player_breakdown['de_nuke'][s_player_breakdown['de_nuke']['Player'] == 's1mple']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
0,s1mple,157,100,20.0,57,1.57,93.09697,0.477707,238.0,2.479167,177,1.525862

In [112]:
z_player_breakdown['de_nuke'][z_player_breakdown['de_nuke']['Player'] == 'ZywOo']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
0,ZywOo,103,58,15,45,1.775862,96.813084,0.368932,484.0,10.755556,66,1.32

In [113]:
s_player_breakdown['de_ancient'][s_player_breakdown['de_ancient']['Player'] == 's1mple']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
2,s1mple,32,23,6.0,9,1.391304,77.268293,0.53125,123,3.84375,47,1.678571

In [114]:
z_player_breakdown['de_vertigo'][z_player_breakdown['de_vertigo']['Player'] == 'ZywOo']

,Player,K,D,A,+/-,KDR,ADR,HS%,UD,UD Per Nade,EF,EF Per Throw
2,ZywOo,49,51,9,-2,0.960784,75.293333,0.408163,119,3.606061,64,1.207547

# Break

In [134]:
z_win_breakdown = {}
for x in zkillMapData.keys():
    z_win_breakdown[x] = stats.win_breakdown(zroundMapData[x])

In [135]:
s_win_breakdown = {}
for x in skillMapData.keys():
    s_win_breakdown[x] = stats.win_breakdown(sroundMapData[x])

In [144]:
z_win_breakdown['de_mirage'][z_win_breakdown['de_mirage']['Team'] == 'Team Vitality']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
5,Team Vitality,7.0,26.0,23.0,5.0,18.0,79.0

In [145]:
s_win_breakdown['de_mirage'][s_win_breakdown['de_mirage']['Team'] == 'Natus Vincere']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
2,Natus Vincere,5.0,16.0,11.0,4.0,18.0,54.0

In [156]:
z_win_breakdown['de_dust2'][z_win_breakdown['de_dust2']['Team'] == 'Team Vitality']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
2,Team Vitality,3.0,6.0,3.0,2.0,6.0,20.0

In [157]:
s_win_breakdown['de_dust2'][s_win_breakdown['de_dust2']['Team'] == 'Natus Vincere']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
1,Natus Vincere,2.0,9.0,6.0,2.0,8.0,27.0

In [158]:
z_win_breakdown['de_overpass'][z_win_breakdown['de_overpass']['Team'] == 'Team Vitality']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
5,Team Vitality,2.0,28.0,14.0,3.0,26.0,73.0

In [159]:
s_win_breakdown['de_overpass'][s_win_breakdown['de_overpass']['Team'] == 'Natus Vincere']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
2,Natus Vincere,3.0,14.0,4.0,6.0,14.0,41.0

In [160]:
s_win_breakdown['de_inferno'][s_win_breakdown['de_inferno']['Team'] == 'Natus Vincere']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
2,Natus Vincere,7.0,13.0,9.0,4.0,6.0,39.0

In [161]:
z_win_breakdown['de_inferno'][z_win_breakdown['de_inferno']['Team'] == 'Team Vitality']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
5,Team Vitality,10.0,26.0,22.0,4.0,14.0,76.0

In [162]:
s_win_breakdown['de_nuke'][s_win_breakdown['de_nuke']['Team'] == 'Natus Vincere']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
5,Natus Vincere,10.0,35.0,21.0,2.0,31.0,99.0

In [163]:
z_win_breakdown['de_nuke'][z_win_breakdown['de_nuke']['Team'] == 'Team Vitality']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
4,Team Vitality,5.0,16.0,16.0,1.0,21.0,59.0

In [164]:
s_win_breakdown['de_ancient'][s_win_breakdown['de_ancient']['Team'] == 'Natus Vincere']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
1,Natus Vincere,6.0,14.0,5.0,2.0,4.0,31.0

In [165]:
z_win_breakdown['de_vertigo'][z_win_breakdown['de_vertigo']['Team'] == 'Team Vitality']

,Team,BombDefused,CTWin,TargetBombed,TargetSaved,TerroristsWin,Total
3,Team Vitality,9.0,12.0,7.0,3.0,8.0,39.0